*{
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 1268px;
    height: 1000px;
    background: #d8d8d8;
    margin: auto;
}
/*presentacion de hoja  */
#header{
    height: 15%;
    background: #444444;
    border-radius: 1em;
    margin: 1em;
}
/*Muestra de navegador */
#nav{
    height: 10%;
    background: #444444;
    border-radius: 1em;
    margin: 1em;
}
#contenido{
    height: 53%;
    background: #d8d8d8;
    margin: 1em;
     
}
/*Muestra de Hoja */
#footer{
    height: 15%;
    background: #444444;
    border-radius: 1em;
    margin: 1em;
}
/*Muestra de herramientas */
#section {
    height: 100%;
    width: 29%;
    background: #444444;
    border-radius: 1em;    
    float: right;
    
} 
/*Muestra de Hoja */
#aside{
    height: 100%;
    width: 70%;
    background: #444444;
    border-radius: 1em;    
    float: left;       
}
